<%= form_with model: @recipe, local: true do |form| %>
 
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@recipe.errors.count, "error") %> prohibited
        this recipe from being saved:
      </h2>
      <ul>
        <% @recipe.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= form.label :name %>:
    <%= form.text_field :name %>
  </p>

  <div class="formBlock">
    <h2>Ingredients</h2>

    <% @ingredients.each do |ingredient| %>
      <%= form.label ingredient.name %>
      <%= form.check_box "ingredients[#{ingredient.id}]", checked: (@recipe.ingredients.map(&:id).include? ingredient.id) ? true : false %>
      <br>
    <% end %>
  </div>

  <p>
    <%= form.submit %>
  </p>
 
<% end %>