<h1>Recipes</h1>

<%= link_to 'New recipe', new_recipe_path %>

<table>
  <tr>
    <th>Name</th>
  </tr>
 
  <% @recipes.each do |recipe| %>
    <tr>
      <td><%= recipe.name %></td>

      <% recipe.ingredients.each do |ingredient| %>
        <td><%= ingredient.name %></td>
      <% end %>

      <td><%= link_to 'Show', recipe_path(recipe) %></td>
      <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
      <td><%= link_to 'Delete', recipe_path(recipe), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>